*{
    font-family: 'Vazir', sans-serif;
}

body {
    direction: rtl;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px;
}

.search-input input {
    width: 282.546px;
    padding: 8px;
    display: block;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo-input {
    display: flex;
    gap: 10px;
}

.todo-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo-input button {
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #45a049;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    border-top: 2px solid #aaaaaa;
}

.todo-item {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    padding: 5px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff3333;
}
